# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ides
/.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/

# production
/build
out/

# misc
.DS_Store
*.pem

# debug
*.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Yarn Berry
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.cjs
.pnp.loader.mjs

# scanning
gitleaks*.json
gitleaks*.sarif
